.Mood{
    border:2px solid lightgreen;
    text-align:center;
    min-height: 70vh;
    background: silver;
    color:navy;
}

.Mood-actual{
    border:2px solid khaki;
    color:coral;
    display: inline-block;
    padding:1rem 3rem;
    border-radius: 0.5rem;

}